<!--吾志的网页风格 http://wuzhi.me  感谢大神的力量-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
	 user-scalable=yes" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta name="robots" content="nofollow" />
<meta name="robots" content="noarchive" />
<meta http-equiv="Pragma" content="no-cache" />
<link rel="icon" type="image/ico" href="/xiaoyu/img/favicon.ico" />
<link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="/jBox-0.3.2/jBox.css" rel="stylesheet" />
<link rel="stylesheet" href="/stephanwagner/97f7f8-00a5dd.css" />
<link href="/wuzhi/common.css" rel="stylesheet" type="text/css" />
<script src="/jquery/jquery-1.12.2.min.js" type="text/javascript"></script>
<script src="/jBox-0.3.2/jBox.min.js" type="text/javascript"></script>
<script src="/bootstrap-3.3.6-dist/js/bootstrap.min.js"
	type="text/javascript"></script>
<script type="text/javascript" src="/xiaoyu/jquerysession.js"></script>
<script type="text/javascript" src="/xiaoyu/common.js"></script>
<script type="text/javascript" src="/xiaoyu/xiaoyu.js"></script>

<title th:text="${article.title}"></title>
<meta content="唯有读书,不慵不扰" name="description" />

<style type="text/css">
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
		"Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei",
		sans-serif;
	font-size: 14px;
	background: #f7f8fa;
}
</style>
</head>
<script type="text/javascript">
	$(document).ready(function() {

		var item = $(".note_content").attr("id");
		$.ajax({
			type : 'POST',
			async : true,
			url : '/public/article/changeView/' + item,
			error : function(data) {
	               console.log(data);
            },
			success : function(data) {
				 console.log(data);
	        }
		});
		if (!isPC()) {
			$(".main").css("display", "block");
			$(".siderbar_left").css("display", "flex");
			var img = $(".img_shadow").find("img")
			img.css("border-radius", "50%");
			img.css("width", "100px");
			img.css("height", "100px");
		}
	});
</script>
<body>
	<div class="header">
		<div class="container">
			<span><a class="header_w" href="/public/article/hot">首页</a></span> <span
				id="userSpan" style="float: right; display: none;"> <a
				class="header_w" style="padding-right: 15px;" id="nickName" href="#">xxx</a>
				<a class="header_w" style="padding-right: 0px;" id="logout" href=""
				onclick="logout()">退出</a>
			</span> <span id="loginSpan" style="float: right; display: none;"> <a
				class="header_w" style="padding-right: 15px;" href="#" id="register">注册</a>
				<a class="header_w" style="padding-right: 0px;"
				th:onclick="'javascript:gotoLogin(\''+'/public/article/'+${article.id}+'\')' "
				id="login">登录</a>
			</span>
		</div>
	</div>
	<div class="container main">
		<div class="siderbar_left">
			<div class="img_shadow" style="padding-top: 4px;">
				<img th:src="${article.user.img}" th:alt="${article.user.nickName}" />
			</div>
			<div class="quote">
				<span th:text="${article.user.description }"></span>
			</div>
		</div>
		<div class="main_right">
			<div
				style="color: #909090; margin-bottom: 15px; border-bottom: 2px #8FA5AB solid; height: 22px;">
				<span style="font-size: 16px; line-height: 20px;"
					th:text=" ${#calendars.format(article.createDate, 'YYYY-MM-dd')}">
				</span> <span style="font-size: 16px; line-height: 20px; float: right;">浏览量:<strong
					id="readNum" th:text="${article.readNum}"></strong></span>
			</div>
			<div class="note_each">
				<div class="note_time"
					th:text=" ${#calendars.format(article.createDate, 'HH:mm')}">16:42</div>
				<div th:id="${article.id}" class="note_content"
					th:text="${article.content}"></div>
			</div>
			<div class="note_username">
				<label>--</label><label th:text="${article.user.nickName}"></label>
			</div>
		</div>
	</div>

	<div class="footer container">
		<hr class="hr-10" style="width: 98%; margin-left: 0px;" />
		<div class="copyright " style="float: left; margin-right: 3px;">
			<font style="margin-right: 3px;">©2016-2017 小雨 </font><a
				href="/xiaoyu.me.html">xiaoyu.me</a>
		</div>
		<div
			style="width: 35px; float: left; margin-left: 10px; margin-top: -5px;">
			<a href="https://github.com/dressrosa"
				style="width: 100%; display: block; background: url(https://assets-cdn.github.com/favicon.ico) no-repeat; text-indent: 40px; height: 33px;">
			</a>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			writeBox();
		});
	</script>
</body>
</html>