body {
	font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
	font-size: 15px;
	background: #f7f8fa;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: 5px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.list-group-item:last-child {
	border-bottom: 0px;
}

.main {
	max-width: 1200px;
	margin: 0px auto;
	padding-top: 15px;
	padding-bottom: 20px;
	display: flex;
}

.main_write {
	max-width: 1200px;
	margin: 0px auto;
	padding-top: 15px;
	padding-bottom: 20px;
}

.camera {
	background-color: #f5f5f500;
	border: 1px ridge;
	position: relative;
	top: 5px;
	right: 5px;
	z-index: 1;
	float: right;
	opacity: 0.5;
	display: none;
}

.panel-body {
	padding: 15px;
	margin-top: 5px;
	color: rgba(0, 0, 0, .0001);
}

.content-left {
	width: 794px;
	float: left;
	margin-right: 3px;
}

.content-right {
	width: 396px;
	block: color;
	border: 1px solid #ddd;
	margin-left: 3px;
	block: color;
	border-bottom: 0px;
}

.main_user {
	max-width: 1200px;
	display: block;
	margin: 0px auto;
}

.content {
	justify-content: space-between;
	display: flex;
	width: 1200px;
	background: #fff;
	border: 1px solid #ff000029;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
	box-sizing: border-box;
	margin: 1px;
	padding: 10px;
	/* display: inline-block; */
}

.avatar {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.img_shadow img {
	background-color: #fff;
	padding-right: 4px;
	padding-bottom: 4px;
	-moz-box-shadow: 2px 2px 3px #DDDDDD;
	-webkit-box-shadow: 2px 2px 3px #DDDDDD;
	box-shadow: 2px 2px 3px #DDDDDD;
}

.btn {
	float: right;
	font-size: 15px;
	background-color: #FFFFFF;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

.hr_line {
	width: 98%;
	margin-left: 0px;
	margin: -8px auto 11px;
	background: #888c8799;
	clear: both;
	float: none;
	height: 5px;
	border: none;
}

.hr1-line {
	position: relative;
	height: 1px;
	margin: auto;
	background: #bbb;
	margin-bottom: 10px;
}